.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 750px;
}
.valueRange {
  display: flex;
  gap: 10px;
}
.chart {
  &__control {
    z-index: 100;
    position: absolute;
    top: 435px;
    left: 495px;
    background: white;
    opacity: 0.9;
    font-family: cursive;
    &.value-up {
      left: 450px;
      top: 121px;
      min-height: 41px;
      display: flex;
      min-width: 114px;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__title-name {
    font-weight: 600;
  }
  &__formula-description {
    display: flex;
    align-items: center;
    font-family: cursive;
    min-height: 40px;
    padding: 0 0 0 30px;
  }
  &__value {
    min-width: 60px;
    &.value-up {
      min-width: 114px;
    }
  }
}
.not_show {
  display: none;
}
.show_white {
  opacity: 0;
}
.formula-position {
  margin-right: 10px;
  min-width: 185px;
}
